* {
    margin:0;
    padding:0; 

}

html{
    scroll-behavior: smooth;
}



body {

    color:#ededed;
    background-color: rgb(1, 1, 1);
    
    /* background-image: url(images/background.jpg); */
}

/* ---------------------------------header section----------------------------------- */
   section{
    min-height: 100vh;
    padding:10rem 9% 2rem;
   }

nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:100px;
    background-color: rgb(25, 25, 33);
    
    
}
nav ul{
    display:flex;
    justify-content: center;
}

nav ul li {

     list-style: none;

     margin:0 22px;
}

.left{
    font-size: 50px;
    font-weight: bold;
    color:rgb(20, 147, 220);


}

.right{
      font-size: 28px;
      /* font-family: 'Fuzzy Bubbles',cursive; */
}

nav ul li a{
      color:white;
      display:block;
      text-decoration: none;
      border-radius: 20px;
      padding:3px 22px;
}

nav ul li a:hover{
    color:rgb(20, 147, 220);
    
}
.center{
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding:2rem 9%;
    background: var(--second-bg-color);
}

  .home{

    display:flex;
    justify-content: center;
    align-items: center;
  }
  

   .home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
   }       

   .home-content h1 {           

    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;

   }
   
     .img-content{

        margin-top:-250px;
        margin-left: 800px;
        height: 400px;
        width:400px;
        border-radius: 50%;
        background-size: cover;
       background-position: center;
        
     }
   

   /* .social-media a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width:4rem;
    height: 4rem;
    background: transparent;
    border: 2rem solid var(--main-color);
   } */

   .header-text
   {
    color:rgb(20, 147, 220);
    font-size:100px;
   }

   .imp{
    color:rgb(255, 0, 72);
   }




/* ---------------------------------about section--------------------- */

#about{
    padding:80px 0px;
    /* color:#ff004f; */
    color:#ababab;
    /* margin:20px 10px; */
}

.row{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 14px;
    padding: 70px 0px;


}

.about-col-2{
    flex-basis: 50%;
}

.sub-title{
    font-size: 60%;
    font-weight: 100px;
    color:rgb(20, 147, 220);
    padding:50px 0px;
}

.tab-titles{
    display: flex;
    margin:20px 0 40px;
}


.tab-links{
    margin-right:50px;
    font-size: 18px;
    font-weight: 500;
    cursor:pointer;
    position:relative;
}

.tab-links::after{
    content:'';
    width:0;
    height: 3px;
    background:rgb(20, 147, 220);
    position:absolute;
    left:0;
    bottom:-8px;
    transition: 0.5s; 
}

.tab-links.active-link::after{
    width:50%;

}

.tab-contents ul li{
    list-style: none;
    margin:10px 0;
}

.tab-contents ul li span{
    color:rgb(20, 147, 220);
     font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

.para-1{
    font-size:medium;
}


/* ---------------------------------------------services---------------- */

#services{
    padding:30px 0;
}

.services-list{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
}

.services-list div{

    background: #262626;
    padding:40px;
    font-size: 13px;
    font-weight: 300;
    border-right:10px;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom:30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight:500;
    margin-bottom:15px;
}

.services-list div a{

    text-decoration: none;
    color:#fff;
    font-size:12px;
    margin-top:20px;
    display:inline-block;

}

.services-list div:hover{
    background:rgb(20, 147, 220);     
    transform: translateY(-10px);

}


/* -----------------portfolio----------- */

#portfolio{
    padding:50px 0;
}

.work-list{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
}

.work 
   {
    border-radius: 10px;
    position:relative;
    overflow:hidden;    
   }

.work img   
   { 
    
    width:100%;
    height: 400px;
    border-radius: 10px;
    display:block;

    transition:transform 0.5s;
   }
   .work:hover img{
    transform:scale(1.1);
   }
   .work1{
    font-size: 60px;

   }
   /* .work2{
    font-size: 110px;
   } */

   .layer {
    width:100%;
    height:100%;
    background: linear-gradient(rgba(0,0,0,0.6), rgb(20, 147, 220));
    border-radius: 10px;
    position:absolute;
    left:0;
    bottom:0;
    overflow:hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 0 40px; */
    text-align: center;
   }


   /* ---------------------contact------------ */

   .contact-left{
    flex-basis:35%;
   }

   .contact.right{
    flex-basis: 60%;

   }
   .form1{
    margin-left: 100px;
   }

   .contact-left p{
    margin-top:30px;
   }

   .contact-left p i{
    color:rgb(20, 147, 220);
    margin-left: 15px;
    font-size: 25px;
   }

   .social-media{
    margin-top: 30px;
   }

   .social-media a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:#ababab;
    display:inline-block;
    transition:transform 0.5s;

   }

   .social-icons a:hover{
    color:rgb(20, 147, 220);
    transform: translateY(-5px);
   }
   .sub1-title{
    color:rgb(20, 147, 220);
    margin-top: 120px;
   }
   .form-left{
    margin-left: 600px;
    margin-top: -270px;
   }
   .box{
    padding: 9px;
    border-radius: 5px;
    background-color: rgb(225, 216, 216);
    width: 350px;

   }
   .face{
    color:rgb(20, 147, 220) ;
    font-size: 25px;
   }
   .name1{
    margin-left: 30px;
   }
   .but{
   text-align: center;
   border-radius: 9px;
    width: 140px;
    color: white;
    background-color:rgb(20, 147, 220);
    font-size: 20px;
    height: 50px;
   }
   .but1{

    text-align: center;
    border-radius: 9px;
     width: 200px;
     color: white;
     background-color:rgb(20, 147, 220);
     font-size: 20px;
     height: 50px;
     /* padding: 18px; */
     margin-top: 40px;
   }
   .book{
   color: rgb(112, 112, 218);
   }
   .book1{
    color: rgb(216, 60, 159);
   }
   .book2{
    color:blue;
   }
   .book3{
    color:rgb(0, 162, 255);
   }
   
   .foot{
    text-align: center;
    margin-bottom: 100px;
    color:white;
    margin-top: 20px;
   }
   .foot1{
    background-color: rgb(7, 5, 11);

    height: 100px;
    padding-top: 50px;
   }

